a{
text-align: center;
text-justify: auto;
list-style-position: inside;
}   
.centerImages{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    width: 50%;  
}
.sizeImages{
height: 64px;
width: 64px;
}    